<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Cognosco!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background-color: lightgray">
<main style="background-color: whitesmoke; width: 70%; height: auto; margin: 0 auto; text-align: center;
                                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<header>

    <img src="images/header2.JPG" alt="Foto of Logo" style="width: 100%; height: auto">

    <div style="margin: 30px auto; width: 50%; color: whitesmoke">
        <a th:href="'/createArticle/' + ${user.getUserID()}" type="button" class="btn btn-lg" style="width: 400px; margin: 20px auto; color: lightgray; background-color: #405a73; padding: 40px; font-size: 30px;">New Article</a>
        <a th:href="'/listArticle/' + ${user.getUserID()}" type="button" class="btn btn-lg" style="width: 400px; margin: 20px auto; color: lightgray; background-color: #405a73; padding: 40px; font-size: 30px;">Show Articles</a>
        <a th:href="'/goodBye/' + ${user.getUserID()}" type="button" class="btn btn-lg" style="width: 400px; margin: 20px auto; color: lightgray; background-color: #405a73; padding: 40px; font-size: 30px;">Logout</a>
    </div>

    <div th:if="${showSubmit} == true" style="margin: 30px auto; width: 70%; border: 4px solid #405a73">
        <form th:action="'/createArticle/' + ${userID}" method="post">
            <label for="title" style="font-size: 15px; text-align: left">Title:</label><br>
            <input type="text" id="title" name="title" placeholder="Title" style="margin: 20px; width: 700px; padding: 30px; font-size: 20px"><br><br>
            <label for="url" style="font-size: 15px; text-align: left">Url:</label><br>
            <input type="url" id="url" name="url" placeholder="url" style="margin: 20px; width: 700px; padding: 30px; font-size: 20px"><br><br>
            <label for="content" style="font-size: 15px; text-align: left">Article Content:</label><br>
            <textarea id="content" rows="10" cols="5" name="content" placeholder="Content" style="margin: 20px; width: 700px; padding: 30px; font-size: 20px"></textarea>
            <br>
            <input type="submit" value="Submit Article" style="padding: 20px; background-color: #405a73">
        </form>
    </div>

    <h2 th:if="${createdSuccessfully} == true" style="font-size: 30px; color: #405a73">Article Successfully created!</h2>

</header>

</main>
</body>
</html>