<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Cognosco!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body style="background-color: lightgray">
    <main style="background-color: whitesmoke; width: 70%; height: 100vh; margin: 0 auto; text-align: center;
                                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <header>
            <a href="/">
                <img src="images/header2.JPG" alt="Foto of Logo" style="width: 100%; height: auto">
            </a>
            <h1>Welcome to COGNOSCO!</h1>
            <h2>See the World From Our Perspective</h2>
            <h3>Please log in to unfold the full Potential of Cognosco</h3>
        </header>

        <div class="choice">
            <a href="/newUser" class="btn btn-info " role="button">New User</a>
            <a href="/login" class="btn btn-info" role="button">Log In</a>
        </div>

        <!-- Log in For Users: =============================================================== -->

        <div class="login" th:if="${login} == true" style="width: 40%; height: auto; margin: 30px auto;">
            <h3>Please refer Credentials:</h3>

            <form action="/login" method="post">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                    </div>
                    <input name="userName" type="text" class="form-control" placeholder="Terminator" autofocus aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Password</span>
                    </div>
                    <input name="userPassword" type="password" class="form-control" placeholder="mustS@veTheWorld_12%" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>

                <input type="submit" class="btn btn-primary btn-lg submit" value="Login">

            </form>
        </div>

        <!-- Create new User: =============================================================== -->

        <div th:if="${newUser} == true" style="width: 40%; height: auto; margin: 30px auto;">
            <h3>Create new User:</h3>
                <form action="/newUser" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Username</span>
                        </div>
                        <input name="userName" type="text" class="form-control" placeholder="Terminator" autofocus aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">Email</span>
                        </div>
                        <input name="userEmail" type="text" class="form-control" placeholder="terminator@skyNet.com" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon5">Password</span>
                        </div>
                        <input name="userPassword" type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon5">
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg submit" value="Create New User">
                </form>
        </div>

        <!-- ================================================================================ -->

        <article style="width: 98%;">
            <blockquote style="width:80%; margin: 30px auto; background-color: #405a73; color: whitesmoke; font-size: 40px; padding: 15px">
                <p style="text-align: left; font-size: 40px"></p>
                "Wow, this is like the BEST Page ever! Never was reading more enjoyable!
                Thank you 'Cognosco' for this wonderful Experience."
                <p style="text-align: right; font-size: 20px;">sent by: Niko Mp.</p>
            </blockquote>
        </article>

    </main>
</body>
</html>