<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL aliaser</title>
</head>
<style>
    input {
        width: 500px;
        padding: 20px;
        font-size: 25px;
    }
</style>
<body>

<h1>Welcome!</h1>

    <div th:if="${success}">
      <h2>Successfully Created Alias!</h2>
        <h4 th:text="'Your alias is: ' + ${aliasCreated.getLinkAlias()} + ' and your secret code is: ' + ${aliasCreated.getSecretCode()}"></h4>
    </div>

    <div th:if="${aliasNotFree}">
        <h2 style="color: darkred">Your Chosen Alias is already in Use!</h2>
    </div>

    <form action="/save-link" th:object="${link}" method="post">
        <label for="url">URL</label><br>
        <input type="url" name="linkURL" id="url" placeholder="URL"><br><br>

        <label for="alias">Alias</label><br>
        <input type="text" name="linkAlias" id="alias" placeholder="Click-Me-To-Get-To-The-Page"><br><br>

        <input type="submit" value="Send">
    </form>

</body>
</html>