<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nikos First WebShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="myStyle.css"/>
</head>

<body>
<div class="webShop">

    <header>
        <img src="pictures/header.JPG" alt="Logo" class="responsive">
    </header>

    <div>
        <h1><a href="/webshop">Main Shop</a></h1>
    </div>





    <br>
    <br>
</div>
</body>
</html>