
body {
    font-family: Courier;
    font-size: 20px;
    line-height: 40px;
    overflow-x: hidden;
    margin: 0;
}

.topNavBar {
    background-color: #333333;
    width: 100vw;
    padding: 30px;
    margin: 0 0;
    text-align: end;
    margin-top: -10px;
}

.topNavBarInnerDiv {
    padding-right: 20px;
    width: 75%;
    margin: 0 auto;
}

.topNavBar a {
    padding: 10px;
    color: #ff0099;
}

.mainText {
    width: 77%;
    margin: 0 auto;
    padding: 10px;
}

.mainText p {
    text-align: justify;
}

.introduction img {
    display: block;
    position: relative;
    margin-top: -160px;
    margin-left: -50px;
}

.introduction h2 {
    color: #ff0099;
}

.separator {
    text-align: center;
}

