<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Green Fox Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="myStyle.css"/>
</head>
<body>

<div style="text-align: center; width: 1200px; margin: 0 auto">
    <img style="max-width: 100%; height: auto" src="header.JPG" alt="picture of Logo" class="responsive">
</div>

<header style="text-align: center; width: 1200px; margin: 0 auto">
    <h1>The Green Fox Programmer Club</h1>
    <h2>Please choose a Fox from the Cohort.</h2>
</header>
<div class = "container">
    <div  class="row" style="width: 1200px; margin: 30px auto">
        <div class="card col-sm" style="width: 350px; height: auto; margin:10px">
            <img class="card-img-top" src="Laci.jpg" alt="Picture of brown Fox">
            <div class="card-body">
                <h5 class="card-title">Laci "Lacus" Fox</h5>
                <p class="card-text">Our Default Fox in the Cohort.</p>
            </div>
             <div class="card-body">
                <a href="/info?name=Laci" class="btn btn-info" role="button" style="background-color: darkgreen">Choose Laci</a>
                <a href="/createFox" class="btn btn-info" role="button" style="background-color: darkgreen">Create new Fox</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 350px; height: auto; margin:10px">
            <img class="card-img-top" src="Berci.jpg" alt="Picture of brown Fox">
            <div class="card-body">
                <h5 class="card-title">Berci "Bercus" Fox</h5>
                <p class="card-text">Our Default Fox in the Cohort.</p>
            </div>
            <div class="card-body">
                <a href="/info?name=Berci" class="btn btn-info" role="button" style="background-color: darkgreen">Choose Berci</a>
                <a href="/createFox" class="btn btn-info" role="button" style="background-color: darkgreen">Create new Fox</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 350px; height: auto; margin:10px">
            <img class="card-img-top" src="Kolbasz.jpg" alt="Picture of brown Fox">
            <div class="card-body">
                <h5 class="card-title">Kólbász Fox</h5>
                <p class="card-text">Our Default Fox in the Cohort.</p>
            </div>
            <div class="card-body">
                <a href="/info?name=Kolbasz" class="btn btn-info" role="button" style="background-color: darkgreen">Choose Kólbasz</a>
                <a href="/createFox" class="btn btn-info" role="button" style="background-color: darkgreen">Create new Fox</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>