<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Green Fox Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="myStyle.css"/>
</head>
<body>

<div style="text-align: center; width: 1200px; margin: 0 auto">
    <a href="/">
        <img style="max-width: 100%; height: auto" src="header.JPG" alt="picture of Logo" class="responsive">
    </a>
</div>

<header style="text-align: center; width: 1200px; margin: 0 auto">
    <h1>The Green Fox Programmer Club</h1>
    <h2>Please choose from the Options below to Start.</h2>
</header>

<div style="text-align: center; width: 200px; margin: 0 auto">
    <a href="/">
         <img src="greenfox.png" alt="picture of Logo" class="responsive">
    </a>
</div>

<main style="width: 1000px; font-size: 20px; margin: 0 auto; display: flex">
    <a href="/chooseFox" class="btn btn-info" role="button" style="width: 49%; padding: 100px; background-color: darkgreen; font-size: 50px; margin: 5px">Choose Fox</a>
    <a href="/createFox" class="btn btn-info" role="button" style="width: 49%; padding: 100px; background-color: darkgreen; font-size: 50px; margin: 5px">Create Fox</a>
</main>

</body>
</html>